FT_CLIENT_ID=colle_ton_identifiant_client_ici
FT_CLIENT_SECRET=colle_ton_secret_client_ici
ADZUNA_APP_ID=colle_ton_app_id_adzuna_ici
ADZUNA_APP_KEY=colle_ta_app_key_adzuna_ici
ANTHROPIC_API_KEY=colle_ta_cle_api_anthropic_ici
GMAIL_ADDRESS=amani.krid.8@gmail.com
GMAIL_APP_PASSWORD=motdepasseapplication16car
RECIPIENT_EMAIL=amani.krid.8@gmail.com